body, ul {margin: 0;padding: 0;}
li {list-style-type: none;}

/*
  1. body에 background를 넣고 전체폰트를 Bitter로 바꿔주세요.
  2. 전체 레이아웃을 가운대정렬 해주세요.
  3. 각 item 요소 layout을 잡아주세요.
  height 200px

  4. 1024px 화면을 만들어주세요.
*/

body {
  background-image: url('images/bg.png');
  font-family: 'Bitter', serif;
}

.wrapper { margin:50px auto; }
.grid {background-color: #fff;padding:5px;overflow: hidden;}

.grid .item {
  float:left;
  width:10%;
  height:200px;
  position:relative;
}

.grid .item .inner {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:5px;

  color:rgba(255,255,255,0.5);
  font-size:28px;
}

.grid .item.i01 {width:50%;height:600px;}
.grid .item.i01 .inner {background-color: #d2527f;}

.grid .item.i02 {width:20%;}
.grid .item.i02 .inner {background-color: #446cb3;}

.grid .item.i03 {width:30%;}
.grid .item.i03 .inner {background-color: #22313f;}

.grid .item.i04 {width:35%;}
.grid .item.i04 .inner {background-color: #3498db;}

.grid .item.i05 {width:15%;}
.grid .item.i05 .inner {background-color: #8e44ad;}

.grid .item.i06 {width:25%;}
.grid .item.i06 .inner {background-color: #34495e;}

.grid .item.i07 {width:25%;}
.grid .item.i07 .inner {background-color: #e74c3c;}

.grid .item.i08 {width:25%;}
.grid .item.i08 .inner {background-color: #2ecc71;}

.grid .item.i09 {width:25%;}
.grid .item.i09 .inner {background-color: #f89406;}

.grid .item.i10 {width:50%;}
.grid .item.i10 .inner {background-color: #7f8c8d;}

.grid .item.i01 .inner {
  color:rgba(255,255,255,1);
  font-size:100px;
}

.grid .item .inner img {
  position:absolute;
  right:0;
  bottom:0;
  margin:30px;
}

@media (min-width:1200px) {
  .wrapper {width:1200px;}
}

@media (max-width:1024px) {
  .grid .item.i01 {width:100% !important;height:200px;}
  .grid .item {width:33.33% !important;}
}

@media (max-width:768px) {
  .wrapper {margin:0;}
  .grid .item {width:50% !important;}
  .grid .item.i10 {width:100% !important;}
}